*~
*.o
*.d
tags
px*
Makefile
config.h
config.log
config.status
#config.h.in
autom4te.cache
.cproject
.project
.DS_Store
.DS_Store?
._*
.metadata
.autotools
.settings
nbproject
phyx.logfile
phyx.log
.idea*
examples_old*
CMakeLists.txt
convert_phylip_to_states.py
logo.svg
*.bbl
*.blg
*.synctex.gz
Phyxed_Manual.log
Phyxed_Manual.dvi

