*~
*.o
*.d
tags
px*
Makefile
config.h
config.log
config.status
#config.h.in
autom4te.cache
.cproject
.project
.DS_Store
.DS_Store?
._*
.metadata
.autotools
.settings
nbproject
phyx.logfile
phyx.log
.idea*
examples_old*
